openai==2.15.0
jupyter-black==0.4.0
httpx[socks]==0.28.1
torch==2.9.1
transformers==4.57.6
numpy==2.4.1
pandas==2.3.3
seaborn==0.13.2
accelerate==1.12.0
nnsight==0.5.15
gdown==5.2.1
typer==0.21.1
pyright==1.1.400
scikit-learn==1.8.0
lightning==2.6.1
datasets==4.5.0
ipywidgets==8.1.8
